@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.drag2card{
  height: 768px;
  :global{
    .ant-card-body{
      height: 100%;
    }
  }
}

.spinSty{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  :global{
    .ant-spin-container{
      height: 100%;
    }
  }
}

.cardSty{
  height: 100%;
  :global{
    .ant-card-body{
      height: 100%;
    }
  }
}

.homeCard{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  :global{
    .ant-card-body{
      height: 100%;
    }
  }
}

.homeCircle{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  &:hover div:nth-child(1){background-color: rgba(0,0,255,.8)}
  &:hover div:nth-child(2){ background-color: rgba(0,0,255,.8)}
  &:hover div:nth-child(3){ background-color: rgba(0,0,255,.8)}
}
.circleSty{
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
  -webkit-border-radius: 36% 37% 56% 58% ~'/' 44% 55% 57% 40%;
  -moz-border-radius: 36% 37% 56% 58% ~'/' 44% 55% 57% 40%;
  border-radius: 36% 37% 56% 58% ~'/' 44% 55% 57% 40%;
  animation: animate 5s infinite;
}
.homeCircle div:nth-child(1){
  .circleSty
}
.homeCircle div:nth-child(2){
  .circleSty;
  animation: animate 7s infinite;
}
.homeCircle div:nth-child(3){
  .circleSty;
  animation: animate2 9s infinite;
}
@keyframes animate{
  0% { transform: rotate(360deg) }
  100% { transform: rotate(0deg) }
}
@keyframes animate2{
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
